{% extends '@backend/layouts/controlbox.html.twig' %}
{% import "@backend/components/tools.html.twig" as tools %}

{% block title %}Пользователи{% endblock %}
{% block header %}Пользователи{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{{ path('backend_index') }}">Главная</a></li>
    <li class="breadcrumb-item">Пользователи</li>
{% endblock %}

{% block menu %}
    {% include '@backend/users/_menu.html.twig' only %}
{% endblock %}

{% block content %}
    <div class="control-buttons">
        <a class="btn btn-success btn-sm" href="{{ path('backend_users_user_create') }}" title="Создать пользователя">
            <i class="fa-solid fa-plus"></i> Создать пользователя
        </a>
    </div>

    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Имя</th>
            <th scope="col">E-mail</th>
            <th scope="col">Роль</th>
            <th scope="col">Статус</th>
            <th scope="col">#</th>
        </tr>
        </thead>
        <tbody>
        {% set users = paginator.results %}
        {% if users|length > 0 %}
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.roles|join('<br>')|raw }}</td>
                    <td>{{ tools.userStatusLabel(user.status, user.statusAsText) }}</td>
                    <td>
                        <a class="btn btn-success btn-sm" href="{{ path('backend_users_user_view', {'id': user.id}) }}" title="Просмотр">
                            <i class="fa-solid fa-eye"></i>
                        </a>

                        {% if user.isActive %}
                            <a class="btn btn-primary btn-sm" href="{{ path('backend_users_user_update', {'id': user.id}) }}" title="Редактировать">
                                <i class="fa-solid fa-edit"></i>
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>

    {% if users|length > 0 %}
        {% include "@backend/components/paginator.html.twig" %}
    {% else %}
        {{ tools.alert('info', "Ничего не найдено. Попробуйте изменить критерии поиска.") }}
    {% endif %}
{% endblock %}

{% block filters %}
    <div class="card" style="margin-top: 20px;">
        <div class="card-header">
            <b>Фильтр</b>
        </div>

        <div class="card-body">
            {{ form_start(filterForm) }}
            {{ form_row(filterForm.orderBy) }}

            {{ form_row(filterForm.id) }}
            {{ form_row(filterForm.status) }}
            {{ form_row(filterForm.name) }}
            {{ form_row(filterForm.email) }}
            {{ form_row(filterForm.role) }}

            <button class="btn btn-primary">Найти</button>
            {{ form_end(filterForm) }}
        </div>
    </div>
{% endblock %}
