{% extends '@backend/layouts/controlbox.html.twig' %}
{% import "@backend/components/tools.html.twig" as tools %}

{% block title %}Вопрос #{{ question.id }} - Вопросы - Вопросы и ответы{% endblock %}
{% block header %}Вопрос #{{ question.id }}{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{{ path('backend_index') }}">Главная</a></li>
    <li class="breadcrumb-item"><a href="{{ path('backend_questions_main_dashboard') }}">Вопросы и ответы</a></li>
    <li class="breadcrumb-item"><a href="{{ path('backend_questions_question_list') }}">Вопросы</a></li>
    <li class="breadcrumb-item">Вопрос #{{ question.id }}</li>
{% endblock %}

{% block menu %}
    {% include '@backend/questions/_menu.html.twig' only %}
{% endblock %}

{% block content %}
    {% if question.isDeleted %}
        {{ tools.alert('danger', "Внимание! Вопрос удалён.") }}
    {% endif %}

    <div class="control-buttons">
        {% set csrf_token = csrf_token('questions_question') %}
        {% if not question.isDeleted %}
            <a class="btn btn-primary" href="{{ path('backend_questions_question_update', {'id': question.id}) }}" title="Редактировать">
                <i class="fa-solid fa-edit"></i> Редактировать
            </a>
        {% endif %}

        {% if workflow_can(question, 'publish') %}
            <form name="question_publish" method="POST" action="{{ path('backend_questions_question_publish', {'id': question.id}) }}" style="display: inline-block;">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}">
                <button type="submit" class="btn btn-success" onclick="return confirm('Вы действительно хотите опубликовать вопрос?');"><i class="fa-solid fa-trash-restore"></i> Опубликовать</button>
            </form>
        {% endif %}

        {% if workflow_can(question, 'unpublish') %}
            <form name="question_unpublish" method="POST" action="{{ path('backend_questions_question_unpublish', {'id': question.id}) }}" style="display: inline-block;">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}">
                <button type="submit" class="btn btn-warning" onclick="return confirm('Вы действительно хотите снять с публикации вопрос?');"><i class="fa-solid fa-ban"></i> Снять с публикации</button>
            </form>
        {% endif %}

        {% if workflow_can(question, 'delete') %}
            <form name="question_delete" method="POST" action="{{ path('backend_questions_question_delete', {'id': question.id}) }}" style="display: inline-block;">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}">
                <button type="submit" class="btn btn-danger" onclick="return confirm('Вы действительно хотите удалить вопрос?');"><i class="fa-solid fa-trash"></i> Удалить</button>
            </form>
        {% endif %}
    </div>

    <div class="detail-view">
        <table class="table table-striped table-bordered">
            <colgroup>
                <col style="width: 30%"/>
                <col style="width: 70%"/>
            </colgroup>
            <tbody>
            <tr>
                <th scope="row">ID</th>
                <td>{{ question.id }}</td>
            </tr>

            <tr>
                <th scope="row">Статус</th>
                <td>{{ tools.statusLabel(question.status, question.statusAsText) }}</td>
            </tr>

            <tr>
                <th scope="row">Категория</th>
                <td>
                    {% if question.category %}
                        <a href="{{ path('backend_questions_category_view', {'id': question.category.id}) }}" target="_blank">{{ question.category.title }}</a>
                    {% else %}
                        NULL
                    {% endif %}
                </td>
            </tr>

            <tr>
                <th scope="row">Заголовок</th>
                <td>{{ question.title }}</td>
            </tr>

            <tr>
                <th scope="row">Текст</th>
                <td>
                    {{ question.text|nl2br }}
                </td>
            </tr>

            <tr>
                <th scope="row">Slug</th>
                <td>
                    {{ question.slug }}
                </td>
            </tr>

            <tr>
                <th scope="row">Href</th>
                <td>
                    {{ question.href }}
                </td>
            </tr>

            <tr>
                <th scope="row">Количество ответов</th>
                <td>
                    {{ question.totalPublishedAnswers }} / {{ question.totalAnswers }}
                </td>
            </tr>

            {% include '@backend/components/_detail_view_created_log.html.twig' with {'entity': question} only %}
            </tbody>
        </table>
    </div>

    <h2>Ответы</h2>
    <div class="answers-listing">
        {% set answers = paginator.results %}
        {% if answers|length > 0 %}
            {% for answer in answers %}
                {% include '@backend/questions/answer/_answer.html.twig' with { 'answer': answer } only %}
            {% endfor %}
        {% endif %}
    </div>

    {% if answers|length > 0 %}
        {% include "@backend/components/paginator.html.twig" %}
    {% else %}
        {{ tools.alert('info', "Ничего не найдено. Попробуйте изменить критерии поиска.") }}
    {% endif %}

    <h2>Добавить ответ</h2>
    <div class="add-answer">
        {{ form_start(createForm) }}
        {{ form_row(createForm.text) }}

        <button class="btn btn-primary">Ответить</button>
        {{ form_end(createForm) }}
    </div>
{% endblock %}

{% block filters %}
    <div class="card" style="margin-top: 20px;">
        <div class="card-header">
            <b>Фильтр</b>
        </div>

        <div class="card-body">
            {{ form_start(filterForm) }}
            {{ form_row(filterForm.status) }}
            {{ form_row(filterForm.query) }}

            <button class="btn btn-primary">Найти</button>
            {{ form_end(filterForm, {render_rest: false}) }}
        </div>
    </div>
{% endblock %}
