{% macro alert(type, text) %}
    <div class="alert alert-{{ type }}" role="alert">
        {{ text|raw }}
    </div>
{% endmacro %}

{% macro badge(key, value) %}
    <span class="badge bg-{{ key }}">{{ value }}</span>
{% endmacro %}

{% macro userStatusLabel(key, value) %}
    {% set userStatusLabels = {
        'ACTIVE': 'success',
        'BLOCKED': 'warning',
        'DELETED': 'danger'
    } %}

    <span class="badge bg-{{ userStatusLabels[key] ?? 'light' }}">{{ value }}</span>
{% endmacro %}

{% macro statusLabel(key, value) %}
    {% set statusLabels = {
        'PUBLISHED': 'success',
        'UNPUBLISHED': 'warning',
        'DELETED': 'danger'
    } %}

    <span class="badge bg-{{ statusLabels[key] ?? 'light' }}">{{ value }}</span>
{% endmacro %}
