{#
    Данное письмо отправляется при формировании нового случайного пароля пользователю.
#}
{% set loginUrl = url('frontend_user_login') %}

<p>
    Добрый день, <b>{{ user.username }}</b>!
</p>

<p>
    Вам был установлен новый пароль.
</p>

<p>
     Новые данные для доступа:<br><br>

    <br>Сайт: <a href="{{ loginUrl|raw }}">{{ loginUrl|raw }}</a>
    <br>E-mail: {{ user.email }}
    <br>Пароль: {{ password }}
</p>
