{% extends '@backend/layouts/controlbox.html.twig' %}
{% import "@backend/components/tools.html.twig" as tools %}

{% block title %}Создать категорию - Категории - Вопросы и ответы{% endblock %}
{% block header %}Создать категорию{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{{ path('backend_index') }}">Главная</a></li>
    <li class="breadcrumb-item">Вопросы и ответы</li>
    <li class="breadcrumb-item"><a href="{{ path('backend_questions_category_list') }}">Категории</a></li>
    <li class="breadcrumb-item">Создать категорию</li>
{% endblock %}

{% block menu %}
    {% include '@backend/questions/_menu.html.twig' only %}
{% endblock %}

{% block content %}
    {{ form_start(createForm) }}
    {{ form_row(createForm.title) }}
    {{ form_row(createForm.slug) }}
    {{ form_row(createForm.description) }}

    <button class="btn btn-lg btn-primary" type="submit">Создать</button>

    {{ form_end(createForm) }}
{% endblock %}
