{% extends '@frontend/layouts/profile.html.twig' %}
{% import "@frontend/components/tools.html.twig" as tools %}

{% block title %}Изменение пароля - Мой кабинет{% endblock %}
{% block header %}Изменение пароля{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{{ path('frontend_index') }}">Главная</a></li>
    <li class="breadcrumb-item"><a href="{{ path('frontend_user_profile_index') }}">Мой кабинет</a></li>
    <li class="breadcrumb-item active">Изменение пароля</li>
{% endblock %}

{% block menu %}
    {% include '@frontend/user-profile/_menu.html.twig' only %}
{% endblock %}

{% block content %}
    {{ form_start(form) }}
    {{ form_row(form.password) }}

    <button class="btn btn-primary">Изменить</button>
    {{ form_end(form) }}
{% endblock %}
